{% extends 'base.html' %}

{% block head %}
    <meta title="Task Master">
{% endblock %}


{% block body %}
<div class='content'>
    <h1 style="text-align: center;">Update Task</h1>

    <table>
    <form action="/update/{{ task.id }}" method="POST">
        <input type='text' name='content' id='content' value="{{ task.content }}">
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}